@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0e5e9;
  position: sticky;
  z-index: 1;
  top: 0;
}

nav .logo{
  /* padding: 5px; */
  width: 10%;
  height: 80px;
}

nav .logo img{
  width:100%;
  height:100%;
  mix-blend-mode: multiply;
}

nav ul{
  display: flex;
  padding: 5px;
}

nav ul a{
 text-decoration: none;
  margin: auto 10px;
  color:black ;
}

nav ul a li{
  list-style: none;

}

nav ul li:hover{
  color: rgb(18, 183, 237);
  /* text-shadow: 0 5PX 5px white; */
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
  /* background-color: rgb(18, 183, 237);
  box-shadow: 0 0 5px 2px rgb(248, 248, 250); */
}

/* Carousel */

.carousel-container {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-container h2 {
  font-size: 2em;
  color: black;
}

.carousel-container p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: black;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  max-height: 400px;
  /* object-fit: cover; */
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px rgb(93, 92, 92);
}

.carousel-button {
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #faf4f4;
}

.carousel-button:first-of-type {
  left: 10px;
}

.carousel-button:last-of-type {
  right: 10px;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: #717171;
}


/* Information section */

.Info{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:10px auto;
}

.Info .info-m{
  width: 95%;
  display: flex;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 5px 1px gray;
  border-radius: 10px;
}

/* Project Section */
.project{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:10px auto;
  flex-direction: column;
}

.project .p-box{
  width: 95%;
  display: flex;
  margin: 10px auto;
  padding: 20px;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 5px 1px gray;
  border-radius: 10px;
}

.project .p-box .p-image{
  width: 40%;
  
}
.project .p-box .p-image video{
  width: 100%;
  border-radius: 10px;
}

.project .p-box .p-detail{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project .p-box .p-detail button{
    background-color: #3d69c3; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the container inline-block */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 12px; /* Rounded corners */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
  }
  
.project .p-box .p-detail button:hover {
    background-color: #e3f351; /* Darker green on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
  }
  
  .project .p-box .p-detail button:active {
    background-color: #3e8e41; /* Even darker green on click */
    transform: scale(0.95); /* Slightly shrink on click */
  }
  
  /* About Us Section */

  .about-us-section {
    /* margin: 20px; */
    background-color: #f9f9f9;
    text-align: center;
    width: 100%;
  }
  
  .title-heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .about-description {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  
  .team-grid {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .team-card {
    width: 80%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .team-name {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .team-role {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .team-experience {
    font-size: 1rem;
    color: #777;
    margin-bottom: 10px;
  }
  
  .team-description {
    font-size: 1rem;
    color: #333;
  }

  /* Contact Us */

  .contact-us-section {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .title-heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .contact-form {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  .submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .submit-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }
  
  .submit-button:active {
    background-color: #3e8e41;
    transform: scale(0.95);
  }
  
  @media (max-width: 600px) {
    .contact-form {
      padding: 15px;
    }
  
    .submit-button {
      width: 100%;
    }
  }

  /* Footer Section */

  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
  }
  
  .footer-section img {
    /* font-size: 1.5rem; */
    margin-bottom: 10px;
    width: 5%;
    border-radius: 10px;
    /* mix-blend-mode: multiply; */
  }
  
  .footer-section p,
  .footer-section a {
    font-size: 1rem;
    color: #ccc;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    color: #fff;
  }
  
  .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      text-align: center;
    }
  }
  

  .buyproject{
    width: 100%;
    margin-top: 20px;
}

.buyproject .box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.buyproject .box .pinfo{
    width: 30%;
    margin: 10px 10px;
    box-shadow: 0 0 10px 2px rgb(65, 65, 60);
    padding: 10px;
    border-radius: 10px;
}

.buyproject .box .pinfo img{
    width: 95%;
    border-radius: 10px;
    cursor: pointer;
}

.buyproject .box .pinfo a{
    padding: 10px;
    background-color: rgb(70, 70, 230);
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.buyproject .box .pinfo a:hover{
    box-shadow: 0 0 5px 2px rgb(70, 70, 230) ;
}

.buyproject .back{
    margin: 20px;
}

.buyproject .back a{
    text-decoration: none;
    color: black;
}

/* Testimonal Section */

.top {
  /* min-height: 100vh; */
  width: 95%;
  margin: auto;
  display: grid;
  place-items: center;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 0 4px 2px rgb(189, 188, 188);
  border-radius: 10px;
}

.top h1{
  margin-top: 10px;
  font-family: "Poppins", serif;
  font-weight: 700;
}

.top .slider {
  /* height: 250px; */
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
  /* background-color: beige; */
}

.top .slider .slide-track {
  display: flex;
  width: calc(300px * 18);
  animation: scroll 40s linear infinite; 
  /* background-color:blue; */
}

.top .slider .slide-track:hover{
  animation-play-state: paused;
}  

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 9));
  }
}

.top .slider .slide-track .slide {
  /* height: 200px; */
  width: 300px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.top .slider .slide-track .slide .testimonial-card {
  width: 100%;
  transition: transform 1s;
  /* background-color: #fff; */
  /* padding : 20px; */
  /* border-radius : 10px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.testimonial-header {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.profile-image {
  width: 100%;
  display: block;
  border-radius: 10px;
  /* height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto; */
}

.testimonial-content {
  font-size: 18px;
  color: #666;
  font-style: italic;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.testimonial-card:hover {
  transform: translateZ(10px);
}